<div class="services section">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8">
        <div class="section-heading">
          <h4 class="head-text">Amazing <span>Services &amp; Features</span> for you</h4>
          <img src="assets/images/heading-line-dec.png" alt="">
          <p class="text mt-3 f-15 lh-30 fw-400">If you need the greatest collection of HTML templates for your
            business, please visit
            <span>TooCSS</span> Blog. If you need to have a contact form PHP
            script, go to <span>our contact page</span> for more
            information.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="service-cards">
          <div class="icon first-card"></div>
          <h4 class="mb-3 card-header">App Maintenance</h4>
          <p class="mb-4 mx-0 card-body f-15 lh-30 fw-400">You are not allowed to redistribute this template ZIP file on
            any other website.</p>
          <div class="text-button">
            <span class="read-more-link">Read More <i class="fa fa-arrow-right"></i></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="service-cards">
          <div class="icon second-card"></div>
          <h4 class="mb-3 card-header">Rocket Speed of App</h4>
          <p class="mb-4 mx-0 card-body f-15 lh-30 fw-400">You are allowed to use the Chain App Dev HTML template. Feel
            free to modify or
            edit
            this
            layout.</p>
          <div class="text-button">
            <span class="read-more-link">Read More <i class="fa fa-arrow-right"></i></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="service-cards">
          <div class="icon third-card"></div>
          <h4 class="mb-3 card-header">Multi Workflow Idea</h4>
          <p class="mb-4 mx-0 card-body f-15 lh-30 fw-400">If this template is beneficial for your work, please support
            us <span>a little
              via
              PayPal</span>. Thank you.</p>
          <div class="text-button">
            <span class="read-more-link">Read More <i class="fa fa-arrow-right"></i></span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="service-cards">
          <div class="icon fourth-card"></div>
          <h4 class="mb-3 card-header">24/7 Help & Support</h4>
          <p class="mb-4 mx-0 card-body f-15 lh-30 fw-400">Lorem ipsum dolor consectetur adipiscing elit sedder
            williamsburg photo booth
            quinoa
            and
            fashion axe.</p>
          <div class="text-button">
            <span class="read-more-link">Read More <i class="fa fa-arrow-right"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
