<!-- header -->
<nav class="navbar navbar-expand-lg background-header header-area">
  <div class="container px-5 px-lg-0">
    <a href="index.html" class="logo">
      <img src="assets/images/logo.png" alt="Chain App Dev">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-4 mt-lg-0 justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#top">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#newsletter">Newsletter</a>
        </li>
        <li class="nav-item">
          <div class="gradient-button py-2 py-lg-0"><i class="fa fa-sign-in-alt me-2"></i>Sign In Now
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- main banner  -->

<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <div class="left-content">
              <div class="row">
                <div class="col-lg-12 text-center text-lg-start">
                  <h2>Get The Latest App From App Stores</h2>
                  <p>Chain App Dev is an app landing page HTML5 template based on Bootstrap v5.1.3 CSS layout provided
                    by TemplateMo, a great website to download free CSS templates.</p>
                </div>
                <div class="col-lg-12 d-flex justify-content-center justify-content-lg-start gap-3">
                  <button class="btn white-button py-2 px-3">Free Quote <i class="fab fa-apple"></i></button>
                  <button class="btn white-button py-2 px-3">Free Quote <i class="fab fa-google-play"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-5 my-lg-0">
            <div class="right-image m-auto">
              <img src="assets/images/slider-dec.png" class="responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
