.navbar-toggler {
  border: none;
  box-shadow: none;
}

.navbar-nav {
  background-color: var(--white);
}

.background-header {
  background-color: var(--white);
  min-height: 80px;
  border-bottom: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.03);
}

.header-area {
  background-color: var(--white);
  border-bottom: 1px solid rgba(42, 42, 42, 0.2);
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.gradient-button {
  display: inline-block;
  padding: 10px 20px;
  color: var(--white);
  text-transform: capitalize;
  font-size: 15px;
  background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
  border-radius: 23px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.nav-item {
  padding: 0;
  text-align: center;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 15px;
  color: var(--black-light);
  text-transform: capitalize;
  transition: all 0.2s ease 0.2s;
  border: transparent;
  letter-spacing: 1px;
  padding-left: 0 !important;
  padding-right: 0 !important;

  &:hover {
    color: var(--blue);
  }

  &.active {
    color: var(--blue);
  }
}

.main-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 20px;
  position: relative;
  overflow: hidden;

  .left-content {
    margin-right: 15px;
    position: relative;
    z-index: 2;

    h2 {
      z-index: 2;
      position: relative;
      font-weight: 700;
      line-height: 70px;
      font-size: 50px;
      margin-bottom: 20px;
      color: var(--black-dark);
    }

    p {
      margin-bottom: 45px;
      color: var(--black-light);
      font-weight: 400;
      line-height: 30px;
      font-family: var(--font-roboto);
    }

    .white-button {
      text-transform: capitalize;
      font-size: 15px;
      border-radius: 23px;
      font-weight: 500;
      letter-spacing: 0.3px;
      background-color: var(--blue);
      color: var(--white);
    }

    .right-image {
      border: 1px solid;
      max-width: 700px;

      img {
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
    }
  }
}

@media (min-width: 992px) {
  .header-area {
    background-color: transparent;
  }

  .background-header {
    min-height: 100px;

    .nav-item {
      padding: 0 20px;

      &:last-child {
        padding: 0;
        padding-left: 40px;
      }
    }
  }

  .main-banner {
    padding: 280px 120px 115px 120px;

    &:after {
      content: '';
      background-image: url('../../../assets/images/slider-left-dec.png');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}


.right-image {
  height: 560px;
  width: 650px;

  img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .right-image {
    height: 250px;
    width: 300px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .main-banner {
    padding: 250px 0px 110px 150px;
  }

  .right-image {
    height: 350px !important;
    width: 350px !important;
  }
}

@media (min-width: 1201px) and (max-width: 1300px) {
  .main-banner {
    padding: 250px 70px 170px 150px;
  }

  .right-image {
    height: 400px !important;
    width: 450px !important;
  }
}

@media (min-width: 1301px) and (max-width: 1600px) {
  .main-banner {
    padding: 250px 70px 170px 150px;
  }

  .right-image {
    height: 400px !important;
    width: 450px !important;
  }
}

@media (min-width: 1601px) {
  .main-banner {
    padding: 290px 0px 100px 0px;
  }

  .right-image {
    height: 550px !important;
    width: 650px !important;
  }
}